# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UwAmp\www\PPE-Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
